
.navbar-brand {
    font-size:2.8em;
    height: 20px;
}

#topRow {
    margin-top:100px;
    text-align:center;
}
#topRow h1 {
    font-size: 300%;
}

#this{
    color:yellow;
    font-style: oblique;
    font-size: 30px;
    font-weight: bolder;


}
.marginTop {
    margin-top:30px;
    color:yellow;
    font-weight: bolder;
}
.lead,p{
    color:yellow;
    font-style: oblique;
    font-size: 30px;
    font-weight: bolder;

}
body{
    background-image:url("../images/snowb.jpg");
}
